.polygon {
  background-repeat: no-repeat;
  position:relative;
  width: 100%;
  height: 100%;
}

.cornerResizers {
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #333;
  border: 1px solid #fff;
  overflow: hidden;
  cursor: move;
}

.medianResizers {
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border: 1px solid #333;
  overflow: hidden;
  cursor: move;
}
